<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />


  <title> HMS </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <!-- SweetAlert2 library -->
  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"></link>
  <!-- Add this in the head section -->
  <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>



</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/index">
            <span>
              HMS
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/doctors">Doctors</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contact.html">Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/index">Log Out</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  <!-- book section -->

  <section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="/servicebook" method="post" onsubmit="showSuccessNotification()" style="margin-bottom: 20px" >
            <h4>
              <span class="design_dot"></span>
              Diagnostic Service Booking
            </h4>
            <div class="form-row">
              <div class="form-group col-lg-4">
                <label for="inputPatientName">Patient Name</label>
                <input type="text" name="patientName" class="form-control" id="inputPatientName" placeholder="" required>
              </div>

              <div class="form-group col-lg-4">
                <label for="inputReferringDoctorName">Referring Doctor's Name</label>
                <input type="text" name="doctorName" class="form-control" id="inputReferringDoctorName" placeholder=""required>
              </div>

              <div class="form-group col-lg-4">
                <label for="inputService">Choose Service</label>
                <select name="service" class="form-control wide" id="inputService" >
                  <option value="X-Ray">X-Ray</option>
                  <option value="Untrasonography">Untrasonography</option>
                  <option value="MRI">MRI</option>
                  <option value="CT Scan">CT Scan</option>
                  <option value="ECG">ECG</option>
                  <option value="Endoscopy">Endoscopy</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-4">
                <label for="inputPhone">Phone Number</label>
                <input type="text" name="phoneNumber" class="form-control" id="inputPhone" placeholder="" required>
              </div>

              <div class="form-group col-lg-4">
                <label for="inputDate">Choose Date</label>
                <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                  <input type="text" name="chosenDate" class="form-control" readonly>
                  <span class="input-group-addon date_icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-lg-12">
                <label>Payment Method</label>
                <div class="payment-options">
                  <label class="payment-option">
                    <input type="radio" name="paymentMethod" value="payNow" id="payNowOption">
                    <span class="dot"></span>
                    Pay Now (Card)
                  </label>
                  <label class="payment-option">
                    <input type="radio" name="paymentMethod" value="payLater" id="payLaterOption">
                    <span class="dot"></span>
                    Pay Later
                  </label>
                </div>
              </div>
            </div>

            <div id="additionalPaymentInfo" style="display:none;">
              <!-- Additional fields for Pay Now option -->
              <div class="form-row">
                <div class="form-group col-lg-4">
                  <label for="cardNumber">Card Number</label>
                  <input type="text" name="cardNumber" class="form-control" id="cardNumber" placeholder="">
                </div>

                <div class="form-group col-lg-4">
                  <label for="cvv">CVV</label>
                  <input type="text" name="cvv" class="form-control" id="cvv" placeholder="">
                </div>

                <div class="form-group col-lg-4">
                  <label for="expirationDate">Expiration Date</label>
                  <input type="text" name="expirationDate" class="form-control" id="expirationDate" placeholder="MM/YYYY">
                </div>
              </div>
            </div>

            <div class="btn-box">
              <button type="submit" class="btn">Submit Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  <!-- end book section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  BRAC University, Dhaka
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +8801754616082
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  atikuddola@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="https://www.facebook.com/atik.uddola">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/shams.hehe">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              At HMS, we're committed to your well-being through personalized and comprehensive healthcare services, delivered by a skilled team in state-of-the-art facilities.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="active" href="index.html">
                Home
              </a>
              <a class="" href="about.html">
                About
              </a>
              <a class="" href="departments.html">
                Departments
              </a>
              <a class="" href="doctors.html">
                Doctors
              </a>
              <a class="" href="contact.html">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col ">
          <h4>
            Get Connected
          </h4>
          <form action="#">
            <input type="email" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>

    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

  <script>
    $(document).ready(function () {
      // Initialize date picker
      $('#inputDate').datepicker({
        format: 'mm-dd-yyyy',
        autoclose: true,
        todayHighlight: true,
      });
    });
  </script>
  <!-- SweetAlert2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
    $(document).ready(function () {
      // Show additional payment info when "Pay Now" is selected
      $('input[name="paymentMethod"]').change(function () {
        if ($(this).val() === 'payNow') {
          $('#additionalPaymentInfo').show();
        } else {
          $('#additionalPaymentInfo').hide();
        }
      });

      // Handle form submission
      $('form').submit(function (event) {
        event.preventDefault();



        // Your existing form submission code...

        // Simulate a successful form submission
        const isPaymentNow = $('input[name="paymentMethod"]:checked').val() === 'payNow';
        const isPaymentLater = $('input[name="paymentMethod"]:checked').val() === 'payLater';


        // Inside the form submission success callback
        Swal.fire({
          icon: 'success',
          title: 'Service Booking Successful',
          showConfirmButton: true,
          confirmButtonColor: '#4bc5b8',  // Customize the "OK" button color
          showCancelButton: true,
          cancelButtonColor: '#d33',
          cancelButtonText: 'Download Receipt',
          showCloseButton: true,
        }).then((result) => {
          if (result.isConfirmed) {
            // Handle OK button click
            console.log('OK clicked');
            $('form').unbind('submit').submit();
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            // Handle Download Receipt button click
            console.log('Download Receipt clicked');
            // Add your download receipt logic here
            if (isPaymentNow || isPaymentLater) {
              downloadReceipt();
              $('form').unbind('submit').submit();
            }
          }
        });
      });

      // Initialize date picker
      $('#inputDate').datepicker({
        format: 'mm-dd-yyyy',
        autoclose: true,
        todayHighlight: true,
      });
    });
  </script>

  <script>
    function downloadReceipt() {
      var formData = {
        patientName: $('input[name="patientName"]').val(),
        doctorName: $('input[name="doctorName"]').val(),
        service: $('#inputService').val(),
        phoneNumber: $('input[name="phoneNumber"]').val(),
        chosenDate: $('input[name="chosenDate"]').val(),
        paymentMethod: $('input[name="paymentMethod"]:checked').val(),
        cardNumber: $('input[name="cardNumber"]').val(),
        cvv: $('input[name="cvv"]').val(),
        expirationDate: $('input[name="expirationDate"]').val(),
      };

      var paymentAmount;
      if (formData.service === 'X-Ray') {
        paymentAmount = 800;
      } else if (formData.service === 'Untrasonography') {
        paymentAmount = 1000;
      } else if (formData.service === 'MRI') {
        paymentAmount = 1200;
      } else if (formData.service === 'CT Scan') {
        paymentAmount = 1500;
      } else if (formData.service === 'ECG') {
        paymentAmount = 1800;
      } else if (formData.service === 'Endoscopy') {
        paymentAmount = 2200;
      }

      var paymentStatus = formData.paymentMethod === 'payNow' ? 'Paid' : 'Due';

      // If paymentMethod is 'payLater', set paymentStatus to 'Due'
      if (formData.paymentMethod === 'payLater') {
        paymentStatus = 'Due';
      }

      var receiptContent = `
    <div style="font-family: 'Arial', sans-serif; max-width: 400px; margin: auto; padding: 20px; border: 2px solid #ccc; border-radius: 10px; text-align: center;">
      <h2 style="color: #4bc5b8;">Hospital X Billing Receipt</h2>
      <hr style="border: 1px solid #ccc; margin: 15px 0;">
      <p><strong>Patient Name:</strong> ${formData.patientName}</p>
      <p><strong>Referring Doctor's Name:</strong> ${formData.doctorName}</p>
      <p><strong>Service:</strong> ${formData.service}</p>
      <p><strong>Phone Number:</strong> ${formData.phoneNumber}</p>
      <p><strong>Chosen Date:</strong> ${formData.chosenDate}</p>
      <p><strong>Payment Amount:</strong> ${paymentAmount} Taka</p>
      <p><strong>Payment Status:</strong> ${paymentStatus}</p>
      ${
                formData.paymentMethod === 'payNow'
                        ? `
            <div style="margin-top: 15px; padding: 10px; background-color: #f2f2f2; border-radius: 8px; text-align: left;">
              <p style="font-weight: bold; color: #4bc5b8;">Card Details:</p>
              <p><strong>Card Number:</strong> ${formData.cardNumber}</p>
            </div>
          `
                        : ''
        }
    </div>
`;

// Rest of the code...


// Rest of the code...


      // Create a new element to hold the receipt content
      var receiptContainer = document.createElement('div');
      receiptContainer.innerHTML = receiptContent;

      // Download the receipt as PDF
      html2pdf(receiptContainer);
    }
  </script>




</body>

</html>